<%- include("head", { title: "My Posts" }) -%>

<h1>My Posts</h1> <!--[JSLint was unable to finish] Expected '/'.-->
<% for(var myarticle of article){ %> 
    <b><%= myarticle.title %></b> <%= myarticle.contents %> <i><%= article.name %> </i><br>
<% } %>


<%- include('foot') -%> 